<nav class="navbar">
  <div class="container">
    <div class="top">
      <div class="logo">{ Frontend Dev }</div>
      <div class="hamburger--menu">
        <input type="checkbox" id="hamburger" />
        <label for="hamburger" class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </label>
      </div>
    </div>
    <div class="links">
      <li><a href="#home">Home</a></li>
      <li><a href="#about__me">About</a></li>
      <li><a href="#tech__stack">Tech Stack</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </div>
  </div>
</nav>

<script>
  //add dropdown menu function

  $(".hamburger--menu").click(function () {
    if ($("input").prop("checked")) {
      $(".links").addClass("visible");
    } else if ($("input").prop("checked", false)) {
      $(".links").removeClass("visible");
    }
  });

