<div class="projects" id="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="projects__grid">
      <!-- Project block starts here -->
      <div class="project__box">
        <img
          src="../img/project-images/3-column-preview.png"
          alt=""
          width="100%"
        />
        <div class="project__info">
          <div class="title">3-column-preview-card</div>
          <p class="description">
            a challenge by frontendmentor to build out this 3-column preview
            card component and get it looking as close to the design as
            possible.
          </p>
          <div class="project__links">
            <a
              href="https://sefalathabiso.github.io/3-column-preview-card-component-main/"
              >Live Page</a
            >
            <a
              href="https://github.com/SefalaThabiso/3-column-preview-card-component-main"
              >View Code</a
            >
          </div>
        </div>
      </div>
      <!-- Project block ends here -->

      <!-- Project block starts here -->
      <div class="project__box">
        <img
          src="../img/project-images/desktop-screenshot.png"
          alt=""
          width="100%"
        />
        <div class="project__info">
          <div class="title">Ntf card</div>
          <p class="description">
            a challenge by frontendmentor to build out this product preview card
            component and get it looking as close to the design as possible.
          </p>
          <div class="project__links">
            <a
              href="https://sefalathabiso.github.io/nft-preview-card-component-main/"
              >Live Page</a
            >
            <a
              href="https://github.com/SefalaThabiso/nft-preview-card-component-main"
              >View Code</a
            >
          </div>
        </div>
      </div>
      <!-- Project block ends here -->
      <!-- Project block starts here -->
      <div class="project__box">
        <img
          src="../img/project-images/Product__review.jpg"
          alt=""
          width="100%"
        />
        <div class="project__info">
          <div class="title">Product Review Card</div>
          <p class="description">
            a challenge by frontendmentor to build out this preview card
            component and get it looking as close to the design as possible.
          </p>
          <div class="project__links">
            <a
              href="https://sefalathabiso.github.io/product-preview-card-component-main1/"
              >Live Page</a
            >
            <a
              href="https://github.com/SefalaThabiso/product-preview-card-component-main1"
              >View Code</a
            >
          </div>
        </div>
      </div>
      <!-- Project block ends here -->
    </div>
  </div>
</div>
