<div class="tech__stack" id="tech__stack">
  <div class="container">
    <h2>Tech Stack</h2>
    <p>Some of the technologies i recently worked with</p>
    <div class="tech__stack__list">
      <div class="tech__box">
        <img src="../img/Logos/html-1.svg" alt="" width="100%" />
        <div class="title">Html</div>
        <div class="level">Good</div>
      </div>

      <div class="tech__box">
        <img src="../img/Logos/css-3.svg" alt="" width="100%" />
        <div class="title">Css</div>
        <div class="level">Good</div>
      </div>

      <div class="tech__box">
        <img src="../img/Logos/javascript-1.svg" alt="" width="100%" />
        <div class="title">Javascript</div>
        <div class="level">Entry</div>
      </div>

      <div class="tech__box">
        <img src="../img/Logos/github-icon-1.svg" alt="" width="100%" />
        <div class="title">Github</div>
        <div class="level">Good</div>
      </div>
    </div>
  </div>
</div>
